.back-to-home{
    padding-left: 20px;
}
.profile-icon{
    padding-right: 20px;
}

.order-icon{
    padding-right: 20px;
}
.favorite-icon{
    padding-right: 20px;
}
.follow-icon{
    padding-right: 20px;
}
.logout-icon{
    padding-right: 20px;
}

.home-icon{
    padding-right: 10px;
    color: white;
}
.payment-icon{
    padding-right: 10px;
    color: white;
}
.info-icon{
    padding-right: 10px;
    color: white;
}


*{
    list-style: none;
}

.wrapper .sidebar{
    /*position: fixed;*/
    /*width: 200px;*/
    /*height: 100%;*/
    background:#F4F6F6;
    padding: 30px 0;
}

.wrapper .sidebar .title{
    color: grey;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li a .fa{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background: #D1F2EB;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.profile-content{
    margin-left: 100px;
    padding-top: 55px;
}
.profile-title{
    color: grey;
}
